%%-*- mode: erlang -*-

{deps, [
        {cowboy, ".*", {git, "https://github.com/ninenines/cowboy", {branch, "master"}}},
        {jiffy, ".*", {git,"https://github.com/davisp/jiffy", {branch, "master"}}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}},
        {msgpack, ".*", {git, "https://github.com/xaptum/msgpack-erlang.git", {tag, "0.3.5"}}}
       ]}.

{clean_files, ["*.beam", "test/*.beam", "erl_crash.dump"]}.
